/**********************************************************************************
**                          Web Design - Blog Team 2                             **
**                             Haristouy Clothilde                               **
**                         INSSET - LP Web - 13/10/2014                          **
***********************************************************************************/

body{
	margin: 0;padding: 0;
}

/*                                    Header                                      */

/*                                     Body                                       */
body{
	background-image: url(img) repeat;
}

a{
	padding: 2px 5px;
	color: #0D3839;
}

a:hover{
	background-color: #0D3839;
	color: #fff;
	border-radius: 2px;
}

/*                                    Footer                                      */

/*                                  Login Form                                    */
form{
	
}
